.courseCard {
  border: 1px black solid;
  border-radius: 8px;
  padding: 8px;
  text-align: left;
  box-shadow: 0 0 10px 4px #efefef;
}

.courseCard:hover {
  background-color: #d8d8d8;
}

.courseCode {
  color: rgb(133, 133, 133);
  font-size: 14px;
  margin: 0;
}

.courseTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #3d3d3d;
  margin-top: 0;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.semesterBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0.875rem 1.125rem;
  border: 2px solid #d8d8d8;
  border-radius: 11px;
  min-width: 400px;
}

.newSemesterButton {
  background: #4d7d92;
  border-radius: 3px;
  min-height: 2.5rem;
  min-width: 9rem;
  color: #fff;
  border: none;
  font-size: 16px;
  margin-bottom: 2rem;
}

.semesterTitle {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
}

.semesterHeader {
  display: flex;
  justify-content: space-between;
}

.semesterContainer {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdownMenu {
  position: absolute;
  background-color: #efefef;
  width: 207px;
  max-height: 350px;
  overflow-y: auto;
}

.courseSearchBar {
  display: flex;
  width: 200px;
}

.dropdownOption {
  margin: 0;
  padding: 0.5rem 0;
  cursor: pointer;
}

.dropdownOption:hover {
  background-color: #d8d8d8;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch.on {
  background-color: #4d7d92;
}

.toggle-switch.off {
  background-color: #ccc;
}

.toggle-circle {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

.toggle-switch.on .toggle-circle {
  left: 32px;
}

.loading-message {
  font-style: italic;
  color: #888;
  text-align: center;
  padding: 10px 0;
}

.no-data-message {
  font-style: italic;
  color: #888;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #eee;
  margin-top: 10px;
}